@font-face {
    font-family: FuturaBold;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/FuturaStd-Bold.otf);
  }

  @font-face {
    font-family: Futura;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/FuturaStd-Light.woff);
  }

  

@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

*{
    margin: 0%;
}

.font-Literata{
    font-family: 'Literata', serif;;
}

.font-size-unete{
    font-weight: 500;
    font-size: .8rem;
}
.boldfont{
    font-weight: 600;
    font-size: larger;
}

.mb-img-4{
    margin-bottom: 1.9rem;
}

.font-Futura{
    font-family: "Futura","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-font{
    font-family: "FuturaBold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .8rem;
}

.font-8{
  font-size: .8rem;
}

.font-azul{
    color: #194052;
}

.font-naranja{
    color: #E08C37 !important;
}

.heigth-img-carousel{
    height: 354px;
    width: 100%;
}

.azul{
    background-color: #194052
    
}

.naranja{
    background-color: #E08C37
}

.gris{
    background-color: 	#E3E4E6;
}

.mt-6 {
    margin-top: 6rem
}

.mt-6-1 {
  margin-top: 6.1rem
}

.a-naranja{
  text-decoration: underline;
}

.w-btn{
  width: 200px;
}

.mn-t{
  margin-top: -85px;
}

.heigth-aside{
  height: 2.5rem;
}

body {
    overflow-x: hidden;
  }
  
  
  #sidebar-wrapper {
    min-height: 100px;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 992px) {
    #sidebar-wrapper {
      margin-left: 0;
      
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  
